<form class="ui large form" [class.loading]="isLoading">
  <div class="ui stacked segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input [(ngModel)]="loginViewModel.email" type="text" name="email" placeholder="Emailadresse">
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input [(ngModel)]="loginViewModel.password" type="password" name="password" placeholder="Passwort">
      </div>
    </div>
    <div class="ui fluid large teal submit button" (click)="login()">Anmelden</div>
  </div>

  <div class="ui error message"></div>

</form>