<div class="ui massive top fixed menu">
    <div class="ui container">
        <div class="item">
            <img src="/assets/images/logo.png">
        </div>
        <a class="item">...</a>
        <div class="right menu">
            <div class="ui category search item">
                <div class="ui transparent icon input" [class.loading]="isLoading">
                    <input class="prompt" type="text" placeholder="Search user..." (keyup)="searchText.next($event.target.value)">
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
</div>

<div class="ui container" style="padding-top: 7rem; padding-bottom: 2rem;">
    <div *ngIf=error class="ui negative message">
        <div class="header">
            {{error.title}}
        </div>
        <p>{{error.message}}</p>
    </div>

    <app-profile [user]="user" [repos]="repos"></app-profile>
</div>