<div class="ui segment" [class.loading]="isLoading">
  <h2>Passwort ändern</h2>
  <p>Bitte füllen Sie alle felder aus.</p>

  <div class="ui large form">
    <div class="ui field">
      <div class="ui fluid left icon input">
        <input [(ngModel)]="passwordChangeModel.actualPassword" type="password" placeholder="Aktuelles Passwort">
        <i class="key icon"></i>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui field">
      <div class="ui fluid left icon input">
        <input [(ngModel)]="passwordChangeModel.password" type="password" placeholder="Passwort">
        <i class="key icon"></i>
      </div>
    </div>
    <div class="ui field">
      <div class="ui fluid left icon input">
        <input [(ngModel)]="passwordChangeModel.confirmPassword" type="password" placeholder="Passwort wiederholen">
        <i class="key icon"></i>
      </div>
    </div>
    <button class="ui large blue fluid button" (click)="changePassword()">Passwort ändern</button>
  </div>

</div>